flow/hot_path_flow.json
[
    {
        "id": "149c3bc769e9c702",
        "type": "tab",
        "label": "IoT-Sensor-Data-Processing-NodeRED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75612c5d07d50cec",
        "type": "mqtt in",
        "z": "149c3bc769e9c702",
        "name": "",
        "topic": "team/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "37464be6e8cb6157",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "f85f956ce0b126c9",
                "f74bdc4a4e3739d4",
                "564b3e35eae78f30",
                "c846d20ef072a6ce",
                "c4e3a3bfdde8cc75",
                "f885ebc672fb4284",
                "69bf1f9c8867363f"
            ]
        ]
    },
    {
        "id": "f85f956ce0b126c9",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Cold Path",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f74bdc4a4e3739d4",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Hot Path Heartrate",
        "func": "\nvar teamId = global.get(\"selectedTeam\");\n\nif (msg.payload.sensor_type === \"vital_parameters\") {\n\nif(msg.payload.sensor_team === teamId && teamId !== \"all\"){\n    const { heart_rate, body_temperature } = msg.payload.data;\n\n    var average = calculateAverage(heart_rate);\n\n    if (heart_rate > 100 || body_temperature > 37.5) {\n        node.warn(\"Heart Rate: critical, value: \"+ heart_rate);\n        msg.payload = {\n            status: \"high\",\n            heart_rate: heart_rate,\n            average : average\n        };   return msg;\n    }else{\n        msg.payload = {\n            status: \"normal\",\n            heart_rate: heart_rate,\n            average : average\n        }; \n        \n          return msg;\n    }\n}else if(teamId === \"all\"){\n   let heart_rate1 = context.get('HRTeam1') || 0;\n   let heart_rate2 = context.get('HRTeam2') || 0;\n   let heart_rate3 = context.get('HRTeam3') || 0;\n\n    if(msg.payload.sensor_team === \"team_1\"){\n        heart_rate1 = msg.payload.data.heart_rate;\n        context.set('HRTeam1', heart_rate1);\n    }\n    if(msg.payload.sensor_team === \"team_2\"){\n        heart_rate2 = msg.payload.data.heart_rate;\n        context.set('HRTeam2', heart_rate2);\n    }\n    if(msg.payload.sensor_team === \"team_3\"){\n        heart_rate3 = msg.payload.data.heart_rate;\n        context.set('HRTeam3', heart_rate3);\n\n    }\n\n    const heart_rate = ((heart_rate1 +  heart_rate2 + heart_rate3)/3).toFixed(2);\n    var average = calculateAverage(heart_rate);\n    msg.payload = {\n        status : \"combined values\",\n        heart_rate : heart_rate,\n        average : average,\n        };\n    return msg;\n}\n\nfunction calculateAverage(heart_rate){\n    var values = context.get('values') || [];\n     var sum = context.get('sum') || 0;\n \nvar value = parseFloat(heart_rate);\n\nif (!isNaN(value)) {\n    values.push(value)\n    sum += value;\n\n    if (values.length > 10) {\n        var removedValue = values.shift();\n        sum -= removedValue;\n    }\n\n    var average = (sum / values.length).toFixed(2);\n\n    context.set('values', values);\n    context.set('sum', sum);\n    return average;\n    } \n}\n}\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "c34d98d379dea45f",
                "30c29812170bf22f",
                "74570cf60f15fb6d",
                "d3420aec7242c9cc"
            ]
        ]
    },
    {
        "id": "564b3e35eae78f30",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Hot Path Body Temperature",
        "func": "var teamId = global.get(\"selectedTeam\");\n\n\nif (msg.payload.sensor_type === \"vital_parameters\") {\n\nif(msg.payload.sensor_team === teamId && teamId !== \"all\"){\n\n    const { heart_rate, body_temperature } = msg.payload.data;\n    var average = calculateAverage(body_temperature);\n    \n    if (heart_rate > 100 || body_temperature > 37.5) {\n        node.warn(\"Anomaly detected:\"+ msg.payload);\n     msg.payload = {\n            status: \"critical\",\n            body_temperature: body_temperature,\n            average: average\n        };   return msg;\n    }else{\n        msg.payload = {\n            status: \"normal\",\n            body_temperature: body_temperature,\n            average : average\n        };   return msg;\n    }\n    \n} else if (teamId === \"all\") {\n    let body_temperature1 = context.get('BRTeam1') || 0;\n    let body_temperature2 = context.get('BRTeam2') || 0;\n    let body_temperature3 = context.get('BRTeam3') || 0;\n\n    if (msg.payload.sensor_team === \"team_1\") {\n        body_temperature1 = msg.payload.data.body_temperature;\n        context.set('BRTeam1', body_temperature1);\n    }\n    if (msg.payload.sensor_team === \"team_2\") {\n        body_temperature2 = msg.payload.data.body_temperature;\n        context.set('BRTeam2', body_temperature2);\n    }\n    if (msg.payload.sensor_team === \"team_3\") {\n        body_temperature3 = msg.payload.data.body_temperature;\n        context.set('BRTeam3', body_temperature3);\n\n    }\n\n    const body_temperature = ((body_temperature1 + body_temperature2 + body_temperature3) / 3).toFixed(2);\n    var average = calculateAverage(body_temperature);\n    msg.payload = {\n        status: \"combined values\",\n        body_temperature: body_temperature,\n        average: average\n    };\n    return msg;\n}\n\nfunction calculateAverage(body_temperature){\n    var values = context.get('values') || [];\n    var sum = context.get('sum') || 0;\n\n    var value = parseFloat(body_temperature);\n\n    if (!isNaN(value)) {\n        values.push(value)\n        sum += value;\n\n        if (values.length > 10) {\n            var removedValue = values.shift();\n            sum -= removedValue;\n        }\n\n        var average = (sum / values.length).toFixed(2);\n\n        context.set('values', values);\n        context.set('sum', sum);\n        return average;\n    }\n\n}\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "fce65bf681cec9da",
                "550bb752a3334035",
                "f218d28ae010fec1"
            ]
        ]
    },
    {
        "id": "c846d20ef072a6ce",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Hot Path Position",
        "func": "// Retrieve the teamId from the global context\nvar teamId = global.get(\"selectedTeam\");\nvar previousTeamId = context.get(\"previousTeamId\");\n\n// Debugging output\nnode.warn(`Current teamId: ${teamId}`);\nnode.warn(`Previous teamId: ${previousTeamId}`);\n\nvar deletePayloads = [];\nvar updatePayload = null;\n\n// Function to add a deletion message\nfunction addDeletePayload(name) {\n    deletePayloads.push({\n        name: name,\n        deleted: true\n    });\n}\n\n// Handle incoming payload\nif (msg.payload.sensor_type === \"position\") {\n    // Handle the case where 'all' was previously selected\n    if (previousTeamId === \"all\" && teamId !== \"all\") {\n        // If switching from \"all\" to a specific team, delete all previous team markers\n        [\"team_1\", \"team_2\", \"team_3\"].forEach(team => {\n            if (team !== teamId) {\n                addDeletePayload(team);\n            }\n        });\n    }\n\n    // Handle the case where 'all' is currently selected\n    if (teamId === \"all\") {\n        // Add/update markers for all teams\n        updatePayload = {\n            name: msg.payload.sensor_team,\n            lat: msg.payload.data.latitude,\n            lon: msg.payload.data.longitude\n        };\n    } else if (teamId !== \"all\" && msg.payload.sensor_team === teamId) {\n        // Add/update marker for the selected team\n        updatePayload = {\n            name: teamId,\n            lat: msg.payload.data.latitude,\n            lon: msg.payload.data.longitude,\n            altitude: msg.payload.data.altitude\n        };\n    }\n}\n\n// Handle the case where switching from a specific team to another\nif (previousTeamId !== \"all\" && previousTeamId !== teamId && teamId !== \"all\") {\n    addDeletePayload(previousTeamId);\n}\n\n// Update the context with the current teamId\ncontext.set(\"previousTeamId\", teamId);\n\n// Construct the output payload\nmsg.payload = deletePayloads;\nif (updatePayload) {\n    msg.payload.push(updatePayload);\n}\n\n// Return the constructed payload array\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 700,
        "wires": [
            [
                "46c426073b26af55"
            ]
        ],
        "info": "// Retrieve the teamId from the global context\r\nvar teamId = global.get(\"selectedTeam\");\r\nvar previousTeamId = context.get(\"previousTeamId\");\r\n\r\n// Debugging output\r\nnode.warn(`Current teamId: ${teamId}`);\r\nnode.warn(`Previous teamId: ${previousTeamId}`);\r\n\r\nvar deletePayload = null;\r\nvar updatePayload = null;\r\n\r\n// Handle incoming payload\r\nif (msg.payload.sensor_type === \"position\") {\r\n    if (teamId !== \"all\" && msg.payload.sensor_team === teamId) {\r\n        // Prepare update payload for the selected team\r\n        const { latitude, longitude, altitude } = msg.payload.data;\r\n        updatePayload = {\r\n            name: teamId,\r\n            lat: latitude,\r\n            lon: longitude,\r\n            altitude: altitude\r\n        };\r\n    } else if (teamId === \"all\") {\r\n        // Prepare update payload for all teams\r\n        const { latitude, longitude } = msg.payload.data;\r\n        updatePayload = {\r\n            name: msg.payload.sensor_team,\r\n            lat: latitude,\r\n            lon: longitude\r\n        };\r\n    }\r\n}\r\n\r\n// Prepare delete payload if the teamId has changed\r\nif (previousTeamId && previousTeamId !== teamId) {\r\n    if(previousTeamId === \"all\" && teamId === \"team_1\"){\r\n        deletePayload = {\r\n            {name : previousTeamId}\r\n        }\r\n    }\r\n    deletePayload = {\r\n        name: previousTeamId,\r\n        deleted: true\r\n    };\r\n    node.warn(`Preparing to delete marker for team: ${previousTeamId}`);\r\n}\r\n\r\n// Update the context with the current teamId\r\ncontext.set(\"previousTeamId\", teamId);\r\n\r\n// Construct the output payload\r\nmsg.payload = [];\r\nif (deletePayload) {\r\n    msg.payload.push(deletePayload);\r\n}\r\nif (updatePayload) {\r\n    msg.payload.push(updatePayload);\r\n}\r\n\r\n// Return the constructed payload array\r\nreturn msg;"
    },
    {
        "id": "c4e3a3bfdde8cc75",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Hot Path Speed",
        "func": "var teamId = global.get(\"selectedTeam\");\n\nif (msg.payload.sensor_type === \"speed\") {\nif (msg.payload.sensor_team === teamId && teamId !== \"all\") {\n\n\nconst speed = msg.payload.data.speed;\n    var averageSpeed = calculateAverage(speed);\n         \n    if (speed <= 7) {\n        msg.payload = {\n            activity: \"walking\",\n            speed: speed,\n            averageSpeed: averageSpeed\n        };\n        flow.set(\"dataWalking\", msg.payload);\n\n         //return msg;\n    } else if(speed > 7 && speed < 14) {\n        msg.payload = {\n            activity: \"running\",\n            speed: speed,\n            averageSpeed: averageSpeed\n        }; //return msg;\n    }else{\n        msg.payload = {\n            activity: \"sprinting\",\n            speed : speed,\n            averageSpeed: averageSpeed\n        }; //return msg;\n    }\n    flow.set(\"dataSpeed\", msg.payload);\n    return msg;\n    \n    }  else if (teamId === \"all\") {\n    let speed1 = context.get('speedTeam1') || 0;\n    let speed2 = context.get('speedTeam2') || 0;\n    let speed3 = context.get('speedTeam3') || 0;\n\n    if (msg.payload.sensor_team === \"team_1\") {\n        speed1 = parseFloat(msg.payload.data.speed);\n        context.set('speedTeam1', speed1);\n    }\n    if (msg.payload.sensor_team === \"team_2\") {\n        speed2 = parseFloat(msg.payload.data.speed);\n        context.set('speedTeam2', speed2);\n    }\n    if (msg.payload.sensor_team === \"team_3\") {\n        speed3 = parseFloat(msg.payload.data.speed);\n        context.set('speedTeam3', speed3);\n\n    }\n\n    var speed = ((speed1 + speed2 + speed3) / 3).toFixed(2);\n    var averageSpeed = calculateAverage(speed);\n    msg.payload = {\n        activity: \"combined activities\",\n        speed: speed,\n        averageSpeed: averageSpeed,\n        speed1 : speed1,\n        speed2: speed2,\n        speed3: speed3\n    };\n    return msg;\n}\n    function calculateAverage(speed){\n        var values = context.get('values') || [];\n        var sum = context.get('sum') || 0;\n\n        var value = parseFloat(speed);\n\n        if (!isNaN(value)) {\n            values.push(value)\n            sum += value;\n\n            if (values.length > 10) {\n                var removedValue = values.shift();\n                sum -= removedValue;\n            }\n\n            var averageSpeed = (sum / values.length).toFixed(2);\n\n            context.set('values', values);\n            context.set('sum', sum);\n            return averageSpeed;\n        }\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "c618a58345d5b9df",
                "098f916d2d27ecee",
                "4fa02e2ba43cb8b7",
                "d3420aec7242c9cc"
            ]
        ]
    },
    {
        "id": "f885ebc672fb4284",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Hot Path Acceleration",
        "func": "\n\nvar current_timestamp = msg.payload.timestampRegular;\nvar previous_velocityTeam1 = context.get('previous_velocityTeam1') || null;\nvar previous_velocityTeam2 = context.get('previous_velocityTeam2') || null;\nvar previous_velocityTeam3 = context.get('previous_velocityTeam3') || null;\nvar previous_timestampTeam1 = context.get('previous_timestampTeam1') || null;\nvar previous_timestampTeam2 = context.get('previous_timestampTeam2') || null;\nvar previous_timestampTeam3 = context.get('previous_timestampTeam3') || null;\nvar accelerationTeam1 = context.get('accelerationTeam3') || null;;\nvar accelerationTeam2 = context.get('accelerationTeam3') || null;;\nvar accelerationTeam3 = context.get('accelerationTeam3') || null;;\n\nvar teamId = global.get(\"selectedTeam\");\nlet current_velocityTeam1 = null;\nlet current_velocityTeam2 = null;\nlet current_velocityTeam3 = null;\n\n\nif (msg.payload.sensor_type === \"speed\") {\n     \nif(msg.payload.sensor_team === \"team_1\"){\n    current_velocityTeam1 = msg.payload.data.speed;\n\nif (previous_velocityTeam1 !== null && previous_timestampTeam1 !== null) {\n\n    var velocity = current_velocityTeam1 - previous_velocityTeam1;\n    var time = current_timestamp - previous_timestampTeam1;\n\n    // Check if delta_t is not zero to avoid division by zero\n    if (time !== 0) {\n        // Calculate acceleration\n        accelerationTeam1 = velocity / time;\n        context.set('accelerationTeam1', accelerationTeam1);\n        context.set('previous_velocityTeam1', current_velocityTeam1);\n        context.set('previous_timestampTeam1', current_timestamp);\n    } else {\n        return null; // Ignore the message if delta_t is zero\n    }\n} else {\n    // Initialize context variables if they are not set\n    context.set('previous_velocityTeam1', current_velocityTeam1);\n    context.set('previous_timestampTeam1', current_timestamp);\n    return null; // No acceleration can be calculated on the first data point\n}\n    } \nif (msg.payload.sensor_team === \"team_2\") {\n           current_velocityTeam2 = msg.payload.data.speed;\n           \n        if (previous_velocityTeam2 !== null && previous_timestampTeam2 !== null) {\n\n            var velocity = current_velocityTeam2 - previous_velocityTeam2;\n            var time = current_timestamp - previous_timestampTeam2;\n            \n            // Check if delta_t is not zero to avoid division by zero\n            if (time !== 0) {\n                // Calculate acceleration\n                accelerationTeam2 = velocity / time;\n                context.set('accelerationTeam2', accelerationTeam2);\n                context.set('previous_velocityTeam2', current_velocityTeam2);\n                context.set('previous_timestamp', current_timestamp);\n                \n                \n            } else {\n                return null; // Ignore the message if delta_t is zero\n            }\n        } else {\n            // Initialize context variables if they are not set\n            context.set('previous_velocityTeam2', current_velocityTeam2);\n            context.set('previous_timestampTeam2', current_timestamp);\n            return null; // No acceleration can be calculated on the first data point\n        }\n    } \nif (msg.payload.sensor_team === \"team_3\") {\n        current_velocityTeam3 = msg.payload.data.speed;\n\n        if (previous_velocityTeam3 !== null && previous_timestampTeam3 !== null) {\n\n            var velocity = current_velocityTeam3 - previous_velocityTeam3;\n            var time = current_timestamp - previous_timestampTeam3;\n\n            // Check if delta_t is not zero to avoid division by zero\n            if (time !== 0) {\n                // Calculate acceleration\n                accelerationTeam3 = velocity / time;\n                context.set('accelerationTeam3', accelerationTeam3);\n                context.set('previous_velocityTeam3', current_velocityTeam3);\n                context.set('previous_timestampTeam3', current_timestamp);\n            } else {\n                return null; // Ignore the message if delta_t is zero\n            }\n        } else {\n            // Initialize context variables if they are not set\n            context.set('previous_velocityTeam3', current_velocityTeam3);\n            context.set('previous_timestampTeam3', current_timestamp);\n            return null; // No acceleration can be calculated on the first data point\n        }\n    }\n    if(teamId === \"team_1\"){\n        var acceleration = accelerationTeam1;\n        msg.payload = acceleration;\n    }else if(teamId === \"team_2\"){\n        var acceleration = accelerationTeam2;\n        msg.payload = acceleration;\n    }else if(teamId === \"team_3\"){\n        var acceleration = accelerationTeam3;\n        msg.payload = acceleration;\n        \n    }else {\n        \n        let acceleration = (accelerationTeam1 + accelerationTeam2 + accelerationTeam3)/3;\n        msg.payload = acceleration;\n    }\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 940,
        "wires": [
            [
                "b9db528833585ea6"
            ]
        ]
    },
    {
        "id": "c07abae0c8e4ce82",
        "type": "ui_gauge",
        "z": "149c3bc769e9c702",
        "name": "",
        "group": "0c220355ed5d450a",
        "order": 5,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "heart_rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 1450,
        "y": 400,
        "wires": []
    },
    {
        "id": "c34d98d379dea45f",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "extract heart rate",
        "func": "\nconst heart_rate = msg.payload.heart_rate;\nmsg.payload = heart_rate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "c07abae0c8e4ce82"
            ]
        ]
    },
    {
        "id": "30c29812170bf22f",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 6,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Status heart rate",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "fce65bf681cec9da",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "extract body temperature",
        "func": "const body_temperature = msg.payload.body_temperature;\nmsg.payload = body_temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "caed3b7cabebaedf"
            ]
        ]
    },
    {
        "id": "caed3b7cabebaedf",
        "type": "ui_gauge",
        "z": "149c3bc769e9c702",
        "name": "",
        "group": "0c220355ed5d450a",
        "order": 12,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "body_temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "34",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "38",
        "seg2": "42",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 540,
        "wires": []
    },
    {
        "id": "550bb752a3334035",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 13,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Status body temperature",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "46c426073b26af55",
        "type": "ui_worldmap",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 4,
        "width": 8,
        "height": 8,
        "name": "Position",
        "lat": "",
        "lon": "",
        "zoom": "7",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1440,
        "y": 700,
        "wires": []
    },
    {
        "id": "f916dfe06358c81a",
        "type": "ui_gauge",
        "z": "149c3bc769e9c702",
        "name": "",
        "group": "0c220355ed5d450a",
        "order": 20,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 860,
        "wires": []
    },
    {
        "id": "c618a58345d5b9df",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "extract speed",
        "func": "\nconst speed = msg.payload.speed;\nmsg.payload = speed;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 940,
        "wires": [
            [
                "f916dfe06358c81a"
            ]
        ]
    },
    {
        "id": "098f916d2d27ecee",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 21,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Activity status",
        "format": "{{msg.payload.activity}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 900,
        "wires": []
    },
    {
        "id": "74570cf60f15fb6d",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 7,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Average current heartbeat rate: ",
        "format": "{{msg.payload.average}} bpm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "f218d28ae010fec1",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 14,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Average current body temperature:",
        "format": "{{msg.payload.average}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "4fa02e2ba43cb8b7",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 23,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Average current pace",
        "format": "{{msg.payload.averageSpeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "b9db528833585ea6",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 25,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Acceleration",
        "format": "{{msg.payload}} m/s^2",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 980,
        "wires": []
    },
    {
        "id": "d3420aec7242c9cc",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "detect heart anomaly",
        "func": "var average = msg.payload.average;  \nvar activitySpeed = flow.get(\"dataSpeed\").activity;  \nlet statusAnomaly;\n\nif(average >= 120 && activitySpeed === \"walking\"){\n    statusAnomaly = \"Heart anomaly detected\";\n}else if(average <= 40 && activitySpeed === \"walking\"){\n    statusAnomaly = \"Heart anomaly detected\";\n}else{\n    statusAnomaly = \"no Anomalies detected\";\n}\n\n\nmsg.payload = statusAnomaly;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "a2041bca8d5e1211"
            ]
        ]
    },
    {
        "id": "381eaac708ca1807",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 15,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Distance travelled",
        "format": "{{msg.payload}} km",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1470,
        "y": 660,
        "wires": []
    },
    {
        "id": "a2041bca8d5e1211",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 8,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Status Anomaly",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1480,
        "y": 240,
        "wires": []
    },
    {
        "id": "660835467245b522",
        "type": "ui_dropdown",
        "z": "149c3bc769e9c702",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select team",
        "group": "0c220355ed5d450a",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "All teams",
                "value": "all",
                "type": "str"
            },
            {
                "label": "Team 1",
                "value": "team_1",
                "type": "str"
            },
            {
                "label": " Team 2",
                "value": "team_2",
                "type": "str"
            },
            {
                "label": " Team 3",
                "value": "team_3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "30015b0d9ad8d0b3"
            ]
        ]
    },
    {
        "id": "30015b0d9ad8d0b3",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "function 6",
        "func": "\nvar teamId = msg.payload;\nglobal.set(\"selectedTeam\", teamId);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 460,
        "wires": [
            [
                "4c79c1f3b75f43d1"
            ]
        ]
    },
    {
        "id": "4c79c1f3b75f43d1",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "function 7",
        "func": "\n\nvar teamId = global.get(\"selectedTeam\");\nif(teamId === 1){\n    msg.payload = \"Team 1\";\n}else if(teamId === 2){\n    msg.payload = \"Team 2\";\n}else if(teamId === 3){\n    msg.payload = \"Team 3\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 520,
        "wires": [
            [
                "18a8723a55c6d0d4"
            ]
        ]
    },
    {
        "id": "18a8723a55c6d0d4",
        "type": "ui_text",
        "z": "149c3bc769e9c702",
        "group": "0c220355ed5d450a",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Team",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 130,
        "y": 600,
        "wires": []
    },
    {
        "id": "69bf1f9c8867363f",
        "type": "function",
        "z": "149c3bc769e9c702",
        "name": "Calculate Distance",
        "func": "var teamId = global.get(\"selectedTeam\");\n\n\nvar totalDistanceTeam1 = context.get('totalDistanceTeam1') || 0;\nlet latArrayTeam1 = context.get('previous_latArrayTeam1') || [];\nlet lonArrayTeam1 = context.get('previous_lonArrayTeam1') || [];\nvar totalDistanceTeam2 = context.get('totalDistanceTeam2') || 0;\nlet latArrayTeam2 = context.get('previous_latArrayTeam2') || [];\nlet lonArrayTeam2 = context.get('previous_lonArrayTeam2') || [];\nvar totalDistanceTeam3 = context.get('totalDistanceTeam3') || 0;\nlet latArrayTeam3 = context.get('previous_latArrayTeam3') || [];\nlet lonArrayTeam3 = context.get('previous_lonArrayTeam3') || [];\n\n\n\n\n\n\nif(msg.payload.sensor_type === \"position\"){\n    if(msg.payload.sensor_team === \"team_1\"){\n        const { latitude, longitude, altitude } = msg.payload.data;\n        latArrayTeam1.push(latitude);\n          if(latArrayTeam1.length > 2){\n             latArrayTeam1.shift();\n           }\n          lonArrayTeam1.push(longitude);\n          if(lonArrayTeam1.length > 2){\n             lonArrayTeam1.shift();\n}\n\n        if(latArrayTeam1.length == 2){\n           //for (var i = 1; i < latArrayTeam1.length; i++) {\n    \n    var distanceCalc = haversineDistance(latArrayTeam1[0], lonArrayTeam1[0], latArrayTeam1[1], lonArrayTeam1[1]);\n    totalDistanceTeam1 += distanceCalc;\n//}\n}\ncontext.set('totalDistance', totalDistanceTeam1);\ncontext.set('totalDistanceTeam1', totalDistanceTeam1);\n\n//totalDistanceTeam1 = totalDistanceTeam1 / 1000; // Convert to kilometers\ncontext.set('previous_latArrayTeam1', latArrayTeam1);\ncontext.set('previous_lonArrayTeam1', lonArrayTeam1);\n\n//msg.payload = {totalD: totalDistanceTeam1.toFixed(4) + \"km\",\n//            type : msg.payload.sensor_type}; // Format the payload as a string with two decimal places\n\n//        return msg;\n}\n    if (msg.payload.sensor_team === \"team_2\"){\n        const { latitude, longitude, altitude } = msg.payload.data;\n        latArrayTeam2.push(latitude);\n          if(latArrayTeam2.length > 2){\n             latArrayTeam2.shift();\n           }\n          lonArrayTeam2.push(longitude);\n          if(lonArrayTeam2.length > 2){\n             lonArrayTeam2.shift();\n}\n\n        if(latArrayTeam2.length == 2){\n           for (var i = 1; i < latArrayTeam2.length; i++) {\n    \n    var distanceCalc = haversineDistance(latArrayTeam2[0], lonArrayTeam2[0], latArrayTeam2[1], lonArrayTeam2[1]);\n    totalDistanceTeam2 += distanceCalc;\n}\n}\ncontext.set('totalDistance', totalDistanceTeam1);\ncontext.set('totalDistanceTeam2', totalDistanceTeam2);\n\n//totalDistanceTeam2 = totalDistanceTeam2 / 1000; // Convert to kilometers\ncontext.set('previous_latArrayTeam2', latArrayTeam2);\ncontext.set('previous_lonArrayTeam2', lonArrayTeam2);\n\n\n    }\n    if (msg.payload.sensor_team === \"team_3\"){\n        const { latitude, longitude, altitude } = msg.payload.data;\n        latArrayTeam3.push(latitude);\n          if(latArrayTeam3.length > 2){\n             latArrayTeam3.shift();\n           }\n          lonArrayTeam3.push(longitude);\n          if(lonArrayTeam3.length > 2){\n             lonArrayTeam3.shift();\n}\n\n        if(latArrayTeam3.length == 2){\n           for (var i = 1; i < latArrayTeam3.length; i++) {\n    \n    var distanceCalc = haversineDistance(latArrayTeam3[0], lonArrayTeam3[0], latArrayTeam3[1], lonArrayTeam3[1]);\n    totalDistanceTeam3 += distanceCalc;\n}\n}\ncontext.set('totalDistance', totalDistanceTeam3);\ncontext.set('totalDistanceTeam3', totalDistanceTeam3);\n\n//totalDistanceTeam3 = totalDistanceTeam3 / 1000; // Convert to kilometers\ncontext.set('previous_latArrayTeam3', latArrayTeam3);\ncontext.set('previous_lonArrayTeam3', lonArrayTeam3);\n\n    }\n    function haversineDistance(lat1, lon1, lat2, lon2) {\n        var R = 6371000; // Radius of the Earth in meters\n        var phi1 = toRadians(lat1);\n        var phi2 = toRadians(lat2);\n        var deltaPhi = toRadians(lat2 - lat1);\n        var deltaLambda = toRadians(lon2 - lon1);\n\n        var a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +\n            Math.cos(phi1) * Math.cos(phi2) *\n            Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);\n        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n        var distance = R * c;\n        return distance;\n    }\n\n    function toRadians(degrees) {\n        return degrees * Math.PI / 180;\n    }\n\n\n\n    \n\n    if (teamId === \"team_1\"){\n         msg.payload = (totalDistanceTeam1 / 1000).toFixed(2);\n\n    }else if(teamId === \"team_2\"){\n        msg.payload = (totalDistanceTeam2 / 1000).toFixed(2);\n    }else if(teamId === \"team_3\"){\n        msg.payload = (totalDistanceTeam3 / 1000).toFixed(2);\n    }else if(teamId === \"all\"){\n        msg.payload = ((totalDistanceTeam1 + totalDistanceTeam2 + totalDistanceTeam3)/1000).toFixed(2);\n    }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 600,
        "wires": [
            [
                "381eaac708ca1807"
            ]
        ]
    },
    {
        "id": "d29eeccf74b38cbc",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "22ee4d68eccab30b",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 9,
        "width": 9,
        "height": 1
    },
    {
        "id": "db5156c6e0f05068",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 10,
        "width": 9,
        "height": 1
    },
    {
        "id": "367ca3e2f21dd089",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "980940e04d46e360",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 16,
        "width": 17,
        "height": 1
    },
    {
        "id": "eaade374c831b5df",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 17,
        "width": 17,
        "height": 1
    },
    {
        "id": "f5b4574080131482",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 18,
        "width": 17,
        "height": 1
    },
    {
        "id": "7d1d975a98c3d9da",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 19,
        "width": 17,
        "height": 1
    },
    {
        "id": "ffd42eac8abb2c4c",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 22,
        "width": 8,
        "height": 1
    },
    {
        "id": "685718dc281b1f9e",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 24,
        "width": 8,
        "height": 1
    },
    {
        "id": "06f8df051d2a0c35",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 26,
        "width": 8,
        "height": 1
    },
    {
        "id": "ad661979cc906b4f",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 27,
        "width": 17,
        "height": 1
    },
    {
        "id": "d30b392118ec4c66",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 28,
        "width": 17,
        "height": 1
    },
    {
        "id": "b10f9c36dcd8425f",
        "type": "ui_spacer",
        "z": "149c3bc769e9c702",
        "name": "spacer",
        "group": "0c220355ed5d450a",
        "order": 29,
        "width": 17,
        "height": 1
    },
    {
        "id": "37464be6e8cb6157",
        "type": "mqtt-broker",
        "name": "project",
        "broker": "localhost",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0c220355ed5d450a",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "e7bcb01c9e0da795",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7bcb01c9e0da795",
        "type": "ui_tab",
        "name": "Output",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]